/* Your custom css code goes here */
p {
    color: white;
}

ul li {
    color: ghostwhite;
}

b {
    color: mediumpurple;
}

.intro {
    font-size: 18px;
    text-align: center;
    padding: 35px;
    margin: 10px;
    
}